<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Payment</title>
</head>
<div>
    <a href="/result">Show all payments</a>
</div>
<div>
    <a href="/ascResult">Show all payments in ascending</a>
</div>
<div>
    <a href="/cashPaymentResult">Show all cash payments</a>
</div>
<div>
    <a href="/electricPaymentResult">Show all electronic payments</a>
</div>
<div>
    <form action="/certainAmountPaymentResult" method="get">
        <p>
        <label for="amount">Amount: </label>
        <span><input type="number" name="amount" id="amount"></span>
        </p>
        <input type="submit" value="List of all payment above a certain amount">
    </form>
    <a href="/addCashPayment">Add cash payment</a>




</div>
<body>
</body>
</html>
