<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Title</title>
</head>

<body>
<table>
    <thead>
    <tr>
        <th th:text="${training.getTitle() + '('+training.getCode()+')'}"></th>
        <!-- Add more table headers if needed -->
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${training.getTheme()}"></td>
    </tr>
    <tr>
        <td th:text="${training.getDuration()} + 'days'"></td>
    </tr>
    <tr>
        <td th:text="${'Maximum '+training.getMax()} + 'participants'"></td>
    </tr>

    </tbody>

</table>
    <a href="./admin">Back to list</a>
    <a href="../">Home</a>
</body>
</html>.